<script src="{{{uiRootPath}}}/js/site.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
{{#if env.SITE_SEARCH_PROVIDER}}
{{> search-scripts}}
{{/if}}

<script async src="{{uiRootPath}}/js/vendor/medium-zoom.min.js"></script>
<script async src="{{uiRootPath}}/js/medium-zoom.config.js"></script>
<script defer data-domain="dashohoxha.fs.al" src="https://analytics.fs.al/js/script.js"></script>
